.videos {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 2.5em;
  &--video {
    display: block;
    &--link {
      display: flex;
      padding: 2.5px 5px;
      text-decoration: none;
      color: inherit;
      &:hover {
        background-color: rgba(255, 255, 160, 0.3);
      }
    }
    &--thumbnail {
      display: block;
      width: 120px;
    }
    &--title {
      flex: 1;
      padding: 0.2em 1em;
      word-break: break-all;
    }
  }
}
