/**
 * Note: assumes the parent of sliding pane
 * has 0 pixels margin on top of the page
 * and fills up the entire page height.
 */
.sliding-pane {
  width: 100%;
  background-color: #ddd;
  z-index: 20;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  transition: top 0.3s, bottom 0.3s;

  &--contents {
    max-height: calc(100vh - 2em);
    overflow-y: auto;
  }
  &--toggle {
    position: relative;
    width: 100%;
    height: 2em;
    line-height: 1em;
    padding: 0;
  }
}

.sliding-pane.top {
  top: 0;
  .sliding-pane {
    &--toggle {
      bottom: 0px;
    }
  }
}
.sliding-pane.bottom {
  bottom: 0;
  flex-direction: column;
  .sliding-pane {
    &--toggle {
      bottom: 0px;
    }
  }
}
