.events {
  margin: 0;
  padding: 0;
  list-style-type: none;
  &--event {
    display: block;
    &--link {
      display: flex;
      padding: 2.5px 5px;
      text-decoration: none;
      color: inherit;
      &:hover {
        background-color: rgba(255, 255, 160, 0.3);
      }
    }
    &--thumbnail {
      display: block;
      width: 120px;
    }
    &--details {
      flex: 1;
      padding: 0.2em 1em;
      word-break: break-all;
      &--video-title,
      &--time {
        color: rgba(0, 0, 0, 0.6);
        font-size: 0.7em;
        margin: 0.5em 0;
      }
    }
  }
}
