$sidebar-width: 400px;

.sidebar {
  position: absolute;
  z-index: 10;
  display: block;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 0;
  height: 100vh;
  width: $sidebar-width;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  overflow-y: auto;
  transition: left 0.3s;
  transition-timing-function: ease-in;

  &.hidden {
    left: -$sidebar-width;
  }

  &--actions {
    display: block;
    line-height: 1.5em;
    text-align: right;
    &--close {
      display: inline-block;
      padding: 0.5em;
      text-decoration: none;
      font-size: 1.5em;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.project-highlight-sidebar {
  overflow-y: auto;
}
